<div class="feedbackTab">Contact Us</div>

<div class="paymentTab">Make a Payment</div>

<div class="main">

<% provide(:title, 'Home') %>

<div class="logo"></div>

<div class="contact">
Telephone: 01642 788123<br/>
Mobile: 07825 407 607<br/>
E-mail us at enquiries@thompsonsrentals.co.uk

</div>

<div class="line-break"></div>

<% if false %>

<%= link_to "Sign up", signup_path %>

<% end %>

<div class="title">

<div class="handdrawn">Rent a washing machine, dryer or dishwasher from £4.49 a week.</div>

</div>

<div class="account">

<ul>

<li><i class="icon-user"></i> My Account</li>
<li><i class="icon-credit-card"></i> Make a Payment</li>
<li><i class="icon-warning-sign"></i> Report a Fault</i>
</ul>

</div>

<div class="text">We Rent Washing Machines, Tumble Dryers & Dishwashers In The Teesside Area.</div>

<div class="image">
<div class="text-overlay">&</div>
<div class="text-overlay second">&</div>
<div class="button">Washing Machines <i class="icon-double-angle-right"></i></div>
<div class="button second">Dishwashers <i class="icon-double-angle-right"></i></div>
<div class="button third">Tumble Dryers <i class="icon-double-angle-right"></i></div>
</div>

<div class="line-break"></div>

<div class="boxLeft">Our Rentals Start From As Little As £4.49 / Week.</div>

<div class="boxRight">Free Repairs & Maintenence. No Hidden Costs.</div>

<div class="boxLeft">Quick Decisions & Fast Delivery.</div>

<div class="line-break"></div>

<% if false %>

<div class="appliances">

<div class="subtitle">Washing Machines</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko.jpg">

<h2>Beko WMB91442LW Washing Machine Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)62.0</li>

<li>Wash Load:</li>

<li>9kg</li>

<li>Energy Rating:</li>

<li>A ++</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

</div>

<div class="appliances">

<div class="subtitle">Dishwashers</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/bosch.jpg">

<h2>Bosch SMS53A12GB Standard Dishwasher Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)84.5 x (W)60.0 x (D)60.0</li>

<li>Wash Performance :</li>

<li>A rated</li>

<li>Energy Rating:</li>

<li>A ++ rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

</div>

<div class="appliances">

<div class="subtitle">Tumble Dryers</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

<div class="appliance">

<img src="/images/beko-dryer.jpg">

<h2>Beko DPU8360W Condenser Dryer Freestanding White</h2>

<div class="key">

<li>Dimensions:</li>

<li>(H)85.0 x (W)60.0 x (D)60.0</li>

<li>Number of Programmes :</li>

<li>16</li>

<li>Energy Rating:</li>

<li>A + rated</li>

</div>

<h3>£4.50 / Week</h3>

<div class="button">Rent Now <i class="icon-double-angle-right"></i></div>

</div>

</div>

<% end %>

<iframe src="http://mapsengine.google.com/map/view?mid=zTq6wZSdLWTo.kr30YeJapXu4" width="1000" height="480"></iframe>

</div>