// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font: {
       family: 'handdrawn';
       weight: 'normal';
       style: 'normal';
       -webkit-font-smoothing: antialiased;
    }
    src: asset-url('handdrawn.eot', font);
    src: asset-url('handdrawn.eot', font) format('embedded-opentype'),
         asset-url('handdrawn.woff', font) format('woff'),
         asset-url('handdrawn.ttf', font) format('truetype'),
         asset-url('handdrawn.svg#handdrawn', font) format('svg')
}

div.title {
background: orange;
width: 600px;
padding: 20px;
position: relative;
float: left;
}

div.account {
float: right;
width: 200px;
height: 60px;
position: relative;
padding: 20px;
padding-top: 0px;
background: none;
    ul {
    margin-left: -20px;
    }
    li {
    list-style: none;
    font-family: 'Lucida Grande';
    font-weight: bold;
    font-size: 13px;
    color: black;
    }
}

div.account:after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: 15px;
	width: 0;
	height: 0;
	border-top: 30px solid none;
	border-left: 30px solid transparent;
}

div.title:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 15px;
	width: 0;
	height: 0;
	border-top: 30px solid orange;
	border-right: 30px solid transparent;
}

div.handdrawn {
font-family: 'Lucida Grande';
font-size: 24px;
font-weight: bold;
color: white;
}

div.main {
margin-left: auto;
margin-right: auto;
width: 1000px;
background: white;
position: relative;
height: 21nnnnnnnnnnnnnnnnnnnnnnnnnnnnn50px;
border-left: 1px solid #b3b3b3;
border-right: 1px solid #b3b3b3;
padding: 20px;

-moz-box-shadow: 0 0 3px 3px #ccc;
-webkit-box-shadow: 0 0 3px 3px #ccc;
box-shadow: 0 0 3px 3px #ccc;


}

div.text {
font-family: 'Lucida Grande';
font-size: 40px;
color: black;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
bargin-bottom: 10px;
width: 950px;
float: left;
z-index: 0;
}

div.words {
font-family: 'Lucida Grande';
font-size: 20px;
color: black;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
width: 950px;
float: left;
z-index: 0;
}

div.image {
margin-top: 0px;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 500px;
background-image: url(/images/wash-dry-dish2.jpg);
background-repeat: no-repeat;
background-position:center; 
position: relative;
float: left;
z-index: 0;
}

div.text-overlay {
position: absolute;
top: 200px;
left: 340px;
font-family: handdrawn;
font-size: 110px;
color: black;
    &.second {
    left: 620px;
    }
}

div.button {
font-family: 'Lucida Grande';
font-size: 13px;
color: white;
position: absolute;
bottom: 50px;
left: 130px;
height: 30px;
line-height: 30px;
width: 150px;
border: 2px solid black;
background: red;
border-radius: 4px;
text-align: center;
    &.second {
    left: 420px;
    }
    &.third {
    left: 710px;
    }
}

div.line-break {
height: 1px;
width: 100%;
background: black;
float: left;
position: relative;
margin-bottom: 20px;
}

div.appliances {
float: left;
width: 100%;
height: auto;
background: none;
margin-bottom: 20px;
}

div.subtitle {
font-family: 'Lucida Grande';
width: 980px;
background: blue;
line-height: 30px;
position: relative;
font-size: 20px;
color: white;
padding: 10px;
font-weight: bold;
}

div.appliance {
float: left;
width: 240px;
margin-right: 8px;
height: 520px;;
background: white;
position: relative;
margin-top: 10px;
border: 1px solid #c2c2c2;
padding-top: 10px;
    img {
    width: 240px;
    height: 200px;
    }
    h2 {
    font-family: 'Lucida Grande';
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    }
    h3 {
    font-family: 'Lucida Grande';
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    }
    div.button {
    height: 30px;
    width: 160px;
    line-height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background: orange;
    font-family: 'Lucida Grande';
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: white;
    position: absolute;
    left: 40px;
    bottom: 20px;
    }
}

div.key {
width: 220px;
height: auto;
border: 1px solid #c2c2c2;
background: #f6fafc;
margin-left: 10px;
font-size: 11px;
font-family: 'Lucida Grande';
    li {
        list-style: none;
        padding: 5px;
        width: 210px;
        background: none;
        }
    li:nth-child(even) {
    background: white;
    }
}

div.boxLeft, div.boxRight {
width: auto;
height: 60px;
line-height: 60px;
color: white;
font-family: 'Lucida Grande';
font-weight: bold;
font-size: 24px;
background: #11b5e9;
position: relative;
float: left;
margin-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
}

div.boxRight {
background: #cceefb;
float: left;
color: black;
}

div.boxLeft:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 15px;
	width: 0;
	height: 0;
	border-top: 30px solid #11b5e9;
	border-right: 30px solid transparent;
}

div.boxRight:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 15px;
	width: 0;
	height: 0;
	border-top: 30px solid #cceefb;
	border-right: 30px solid transparent;
}

div.logo {
float: left;
height: 75px;
width: 375px;
background-image: url(/images/logo.jpg);
background-size: 375px 75px;
background-repeat:no-repeat;
margin-bottom: 10px;
cursor: pointer;
}

div.contact {
float: right;
height: 75px;
width: 375px;
margin-bottom: 10px;
background: none;
font-family: 'Lucida Grande';
font-weight: bold;
line-height: 25px;
font-size: 14px;
cursor: pointer;
}

div.feedbackTab1, div.paymentTab1 {
position: fixed;
font-family: 'Lucida Grande';
font-weight: bold;
font-size: 16px;
color: white;
line-height: 60px;
text-align: center;
left: -60px;
top: 200px;
height: 60px;
width: 160px;
background: red;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
border-radius: 0 0 5px 5px;
z-index: 10000;
cursor: pointer;
}

div.paymentTab1 {
top: 380px;
background: blue;
display: none;
}

div.contactForm {
width: 100%;
height: 450px;
background: #cceefb;
position: relative;
float: left;
margin-bottom: 20px;
    div.contactText {
    margin: 40px;
    font-family: 'Lucida Grande';
    font-weight: bold;
    font-size: 16px;
    color: black;
    float: left;
    width: 300px;
    background: none;
    line-height: 50px;
    }
    div.form {
    background: #11b5e9;
    margin: 40px;
    width: 500px;
    height: 350px;
    float: right;
    position: relative;
    
        input {
        display: block;
        margin-left: 20px;
        margin-bottom: 10px;
        width: 320px;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
            &.first {
            margin-top: 20px;
            }
        }
    
        textarea {
        resize: none;
        margin-left: 20px;
        padding: 5px;
        width: 440px;
        height: 100px;
        line-height: 20px;
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
        }
        
        select {
        margin-left: 20px;
        width: 320px;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 10px;
        }
        
        input[type=submit] {
        width: 250px;
        }

    }
    div.form:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 15px;
	width: 0;
	height: 0;
	border-top: 30px solid #11b5e9;
	border-right: 30px solid transparent;    
    }
}

div.contactForm1 {
position: fixed;
height: 460px;
width: 460px;
top: 350px;
left: -500px;
background: red;
z-index: 100000000;
cursor: pointer;
padding: 20px;
opacity: 0.97;

    input {
    display: block;
    font-size: 16px;
    line-height: 30px;
    padding: 5px;
    }
    
    input[type=text] {
    width: 300px !important;
    }
    
    input[type=submit] {
    padding: 5px;
    font-size: 11px;
    text-align: center;
    width: 120px;
    line-height: 20px;
    border: 1px solid black;
    background: orange;
    font-family: 'Lucida Grande';
    font-weight: bold;
    color: white;
    display: inline;
    }
    
    textarea {
    width: 400px !important;
    height: 200px !important;
    padding: 5px;
    font-size: 13px;
    resize: none;
    }
    
    select {
    width: 300px;
    line-height: 30px;
    font-size: 16px;
    }
}

div.close1 {
width: 120px !important;
line-height: 20px;
color: black;
font-family: 'Lucida Grande';
font-weight: bold;
font-size: 11px;
text-align: center;
background: white;
margin-left: 10px;
padding: 5px;
display: inline-block;
border: 1px solid black;
}

div.contactForm1:after {
content: "Contant Us";
position: absolute;
top: 50px;
width: 160px;
height: 60px;
background: red;
right: -110px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
border-radius: 0 0 5px 5px;
text-align: center;
color: white;
font-size: 16px;
font-family: 'Lucida Grande';
font-weight: bold;
cursor: pointer;
line-height: 60px;
}

body {
margin: 0px;
background: #f6fafc;
}

.signinBox {
margin-left: auto;
margin-right: auto;
width: 400px;
height: 200px;
padding: 20px;
background: orange;
border-radius: 10px;

    input {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    }
    
    h1 {
    font-size: 20px;
    text-align: center;
    }
}

.alert.alert-success {
margin-left: auto;
margin-right: auto;
width: 1000px;
height: 60px;
line-height: 60px;
font-size: 14px;
font-family: 'Lucida Grande';
font-weight: bold;
color: black;
background: #77ddbb;
border: 1px solid black;
text-align: center;
}
